{{ $ := .root }}
{{ $page := .page }}

<div class="row featurette">
  {{ with $page.Title }}
  <div class="col-md-12 section-heading">
    <h1>{{ . | markdownify | emojify }}</h1>
    {{ if $page.Params.subtitle }}<p>{{ $page.Params.subtitle | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}

  {{ with $page.Content }}
  <div class="col-md-12">
    {{ . }}
  </div>
  {{ end }}

  {{ range $page.Params.feature }}

  {{ $stylecss := .stylecss }}
  {{ $pack := or .icon_pack "fas" }}
  {{ $pack_prefix := $pack }}
  {{ if in (slice "fab" "fas" "far" "fal") $pack }}
    {{ $pack_prefix = "fa" }}
  {{ end }}
  <div class="col-12 col-sm-3">
    {{ with .icon }}
    <div class="featurette-icon">
        {{- $svg_icon := resources.Get (printf "media/icon-pack/%s.svg" .) -}}
        <img src="{{ $svg_icon.RelPermalink }}" alt="{{.}}" class="svg-icon svg-baseline" style="{{ $stylecss | safeCSS }}" >
    </div>
    {{ end }}
    <h2>{{ .name | markdownify | emojify }}</h2>
    {{ with .description }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}
</div>
