
.navbar {
  height: 50px;
  background: $sta-menu-primary;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(255, 255, 255, 0);
  font-size: #{$sta-font-size-small}px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 1030;
}

.container-xl{
  max-width: 1050px;
}

.navbar-brand img {
  height: 35px;
}
.navbar  {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
}
.navbar-light .navbar-nav>.nav-item>.nav-link, .navbar-light .navbar-nav>.nav-item>.nav-link:focus, .navbar-light .navbar-nav>.nav-item>.nav-link:hover {
  font-weight: 600;
  font-size: 0.9rem;
}

.btn  {
  color:white;
}

.people-person {
  padding-bottom: 10px;
}
.hero-title {
  font-size: 2.2rem;
  max-width: 390px;
  margin-top: 0;
  line-height: 1.3;
  }

.hero-lead {
  max-width: 700px;
  font-size: 1.10rem;
  }

.home-section {
  position: relative;
  background-color: #fff;
  padding-top: 30px;
  padding-right: 0px;
  padding-bottom: 30px;
  padding-left: 0px;
  animation: intro 0.3s both;
  animation-delay: 0.15s;
}

// .docs-sidebar .nav > li > a {
//   margin-left: 20px;
// }

.docs-toc-link {
  font-size: 0.8rem;

}

// @media screen and (max-width: 1000px) {
//   .home-section {
//     padding: 30px 0 30px 0;
//   }
//   .home-section:first-of-type {
//     padding-top: 40px;
//   }
// }

.home-section:nth-of-type(even) {
background-color: #fff;
}

// @media only screen and (min-width: 1001px) {
//   .home-section {
//   margin: 0 auto;
//   padding-right: 1rem;
//   padding-left: 1rem;
//   padding-top: 0.5rem;
//   width: 100%;
//   max-width: 1000px;
//   }
// }

.project-toolbar{
 display: flex;
 justify-content: center;
 align-items: center;
}

@media only screen and (min-width: 1001px) {
  .universal-wrapper {
  max-width: 1000px;
  }
}

.universal-wrapper {
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.1rem;
  width: 100%;
}


.article-container {
  max-width: 1000px;
  padding: 0 20px 0 20px;
  margin: 0 auto 0 auto;
}


h1 {
  font-size: 1.7rem;
}

.featurette {
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;

  text-align: center;
}

@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 1000px; } }
