<div class="pub-list-item" style="margin-bottom: 0.5rem" itemscope itemtype="http://schema.org/CreativeWork">
  <span itemprop="author" class="article-metadata li-cite-author">
    {{ partial "page_metadata_authors" . }}
  </span>
  {{ $pubtypes := delimit .Params.publication_types "" }}
  {{ if eq (int $pubtypes) 2 }}
    ({{- .Date.Format "2006" -}}).
  {{ else if eq (int $pubtypes) 1 }}
    ({{- .Date.Format "2006" -}}).
  {{ else if eq (int $pubtypes) 6 }}
    ({{- .Date.Format "2006" -}}).
  {{ end }}
  <a href="{{ .RelPermalink }}" >{{ .Title }}</a>.
  {{ if .Params.publication_short }}
  {{- .Params.publication_short | markdownify -}}.
  {{ else if .Params.publication }}
  {{- .Params.publication | markdownify -}}.
  {{ end }}
  
  {{ if eq (int $pubtypes) 3 }}
    <i>Preprint</i>.
  {{ end }}

  {{ partial "page_links" (dict "page" . "is_list" 1) }}
</div>
