{{ if not (or (eq .Site.Params.profile false) (eq .Params.profile false)) }}

{{ range $k, $v := $.Params.authors -}}

{{ $author_urlize := "" }}
  {{ $first_author := "" }}
  {{ $first_author =  $v }}
  {{ $author_urlize = urlize $first_author }}

  {{ $person_page_path := (printf "/author/%s" $author_urlize) }}
  {{ $person_page := site.GetPage $person_page_path }}
  {{ with $person_page }}
  {{ $link := printf "/authors/%s" $author_urlize | relURL }}
  {{ $avatar := ($person_page.Resources.ByType "image").GetMatch "*avatar*" }}
  
  <div class="media author-card" itemscope itemtype="http://schema.org/Person">
    {{ $avatar_image := $avatar.Fill "250x250 Center" }}
    <img class="portrait mr-3" src="{{ $avatar_image.RelPermalink }}" itemprop="image" alt="Avatar">

    <div class="media-body">
      <h5 class="card-title" itemprop="name"><a href="{{ $link }}">{{ .Params.name }}</a></h5>
      {{ with .Params.role }}<h6 class="card-subtitle">{{.}}</h6>{{end}}

      <ul class="network-icon" aria-hidden="true">
        {{ range .Params.social }}
        {{ $pack := or .icon_pack "fas" }}
        {{ $pack_prefix := $pack }}
        {{ if in (slice "fab" "fas" "far" "fal") $pack }}
          {{ $pack_prefix = "fa" }}
        {{ end }}
        {{ $link := .link }}
        {{ $scheme := (urls.Parse $link).Scheme }}
        {{ $target := "" }}
        {{ if not $scheme }}
          {{ $link = .link | relLangURL }}
        {{ else if in (slice "http" "https") $scheme }}
          {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
        {{ end }}

        <li>
          <a itemprop="sameAs" href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }}>
            <i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }}"></i>
          </a>
        </li>

        {{ end }}
      </ul>
    </div>
  </div>
  {{end}}

{{ end }}

  
{{end}}
