---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">{{ page.title }}</h1>
          <p class="post-description">{{ page.description }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            
        <p>
            <div class="card {% if member.inline == false %}hoverable{% endif %}">
                <div class="row no-gutters">
                        <div class="card-body">
                            {% if page.profile.email %}
                                <a href="mailto:{{ page.profile.email }}" class="card-link"><i class="fas fa-envelope"></i></a>
                            {% endif %}
                            {% if page.profile.orcid %}
                                <a href="https://orcid.org/{{ page.profile.orcid }}" class="card-link" target="_blank"><i class="fab fa-orcid"></i></a>
                            {% endif %}
                            {% if page.profile.twitter %}
                                <a href="https://twitter.com/{{ page.profile.twitter }}" class="card-link" target="_blank"><i class="fab fa-twitter"></i></a>
                            {% endif %}
                            {% if page.profile.github %}
                                <a href="https://github.com/{{ page.profile.github }}" class="card-link" target="_blank"><i class="fab fa-github"></i></a>
                            {% endif %}
                            {% if page.profile.linkedin %}
                                <a href="https://linkedin.com/in/{{ page.profile.linkedin }}" class="card-link" target="_blank"><i class="fab fa-linkedin"></i></a>
                            {% endif %}                            
                        </div>
                </div>
            </div>
        </p>


            <!-- {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %} -->
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          <!-- Selected papers -->
          <div class="publications">
            {% bibliography -f papers -q @*[page.publications]* %}
          </div>


          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>
              
            </div>
          {%- endif %}

      </article>

</div>
