{{/*  <em>Note: You can also view the video <a href="https://imperial.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id={{.Get 0}}">directly in Panopto</a>.</em>  */}}

<iframe src="https://imperial.cloud.panopto.eu/Panopto/Pages/Embed.aspx?id={{.Get 0}}&autoplay=false&offerviewer=true&showtitle=false&showbrand=false&start=0&interactivity=none" height="425" width="760" style="border: 1px solid #464646;" allowfullscreen allow="autoplay"></iframe>
<br><br>
<a href="https://imperial.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id={{.Get 0}}">View in Panopto</a>